.mainlist {
    box-sizing: content-box;
    width: 500px;
    height: 600px;
    border: 2px solid black;
    margin-left: 500px;
    text-align: center;
    color:blue;
}

.textbox {
    box-sizing: content-box;
    width: 370px;
    height: 60px;
    border: 2px solid black;
    margin-left: 500px;
    margin-top: 20px;

}
.button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 50px;   
}
    